body{
  background-color:#ffffff;

}
h2{
  color: #000080;
}
header {
  text-align:center;
  line-height:30%;
  font-weight: bold;
  border-bottom: solid 1px;
}
header h3 {
  font-size: 12px;
}
.uppercase {
  font-size: 28px;
  display: inline;
}
body{
  color:#000080;
}
#right{

vertical-align:bottom;
float:right;
  width: 40%;
line-height:120%
}
#left{
  float:left;
  vertical-align:bottom;
  width:40%;
  line-height:120%

}

section ul li{
  font-size: 8px;
}

section ul li a{
  color: #800080;
  font-size:15px;
}

section ul li a:visited{
  color: #ff0000;
}

footer{
  font-size:10px;
margin-top:250px;
display:block;
width:auto;
  text-align:center;
  line-height:50%;
  border-top: solid 1px;
}

footer img{

  height:5%;
  width:5%;

}

#disclaimer {
  font-size: 10px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
#copyright {
  font-size:10px;
}

